/*#######Custom Styles######*/

#mainbg{
background: rgb(255,255,255);
 background-image: url(connery_pond.jpg);
background-size:cover;  

}




div.box{
    text-align: center;
    margin:24px;
    border-radius:12px; 
    padding:36px 24px 40px 24px;
    background-color: white;
    box-shadow: 0 0 0 1px rgba(0,0,0,.15), 5px 5px 2px 0 rgba(0,0,0,0.1); 
    
}

div .slopeIcon img{
    width:300px;
    height:370px;
    display:block;
    margin:auto;
    box-shadow: 2px/*H*/ 2px/*V*/ 10px/*B*/ 2px/*S*/ rgba(0/*Sh*/,0/*Bg*/,0/*BX*/,0.15/*OP*/), 2px 2px 7px 2px rgba(0,0,0,1);
}


button {
    font-size: 20px;
    font-weight: 700;
    color:white;
    background-color:dimgrey;
    border-radius: 8px;
    padding: 3px 30px;
    display:block;
    text-align: center;
    margin:5px;
    
}

button.learnMore{
    display: block;
    margin:auto;
}

button:hover{
    background-color:black;
}

div.icon{
   
    width:100%;
}

div.leftSide-col{
    margin-left:20%;
}

div.rightSide-col{
    margin-left: 15%;
}
h1.large{
    background-size:100%;
    background-color: #f3ec78;
    background-image: linear-gradient(90deg, rgba(2,2,38,1) 0%, rgba(255,41,102,1) 50%, rgba(254,255,129,1) 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
    font-size:56px;
    margin:0;
    line-height: 70px;
}   

h1.section2header{
    font-size: 55px;
    text-align: center;
background: rgb(0,0,0);
background: linear-gradient(90deg, rgba(0,0,0,1) 31%, rgba(255,41,67,1) 40%, rgba(252,240,69,1) 73%);

    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
     
}

input[type="text"]{
    font-size:15px;
    width:300px;
    min-width:100px;
    padding:5px;
     border-radius: 10px; 
}

 h2{
    padding-left:2px;
       background-size:100%;
     background: rgb(2,2,38);
  background: linear-gradient(90deg, rgba(38,2,2,1) 0%, rgba(255,96,41,1) 17%, rgba(255,228,251,1) 47%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
   
}

form{
   margin-left: 20%;
   
}

label{
  background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 50%, rgba(0,212,255,1) 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
     
 
}

footer.footsy{
    background: rgb(238,174,202);
background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 48%, rgba(148,187,233,1) 100%);
    padding-left: 10%;
    
}

footer.footsy h1{
    color:#fff;
    font-size: 27px;
}

footer.footsy ul{
    list-style: none;
    text-align: left;
    padding-left: 0;
}

footer.footsy ul li{
    color:#fff;
    font-size:17px;
    line-height: 1;
    padding-left: 0;
    
}
/*######Mobile####################*/
@media screen and (max-width:680px){
    ul.topnav li:not(:nth-child(2)){
        display:none;
        
    }
    
   
    ul.topnav li.dropdownIcon{
        display:block;
        float:right;
        
    } 
    
    ul.topnav.responsive li.dropdownIcon{
        position: absolute;
        top:0;
        right:0;
        
    }
    ul.topnav.responsive{
        position: relative;
        padding-left: 1em;
    }
    
    ul.topnav.responsive li{
        display:inline;
        float:none;
    }
    ul.topnav.responsive li a{
        display:block;
        text-align: left;
    }
    
    h1.section2header{
        font-size:45px;
    }
    
    article p{
        font-size:20px;
    }
    .col-7,
    .col-6,
    .col-5,
    .col-4 {
        width:100%;
        margin:0;
    }
    
    div.mobileStack {
        width: 50%;
        display: block;
    }
        
    
    div.box{
        
        padding:5px;
        display:block;
    }   
    
    div.slopeIcon{
        margin:10px;
    }
    div.slopeIcon img{
        width:80%;
        
    }
    
    form{
        margin:15px;
    }
    
    
    div.leftSide-col{
        margin-left:15px;
    }

    div.rightSide-col{
        margin-left: 15px;
    }

    iframe{
        width:450px;
        height:265px;
        margin:0;
        overflow:hidden;
    }
}


